// Header styling.
// ====================
h1, h2, h3, h4, h5, h6
  text-align center
  font-family 'Droid Serif', serif

h1
  font-size 4em

h2
  margin-bottom 1em

header
  text-align center
  margin-top 4em
  margin-bottom 4em

header .icon
header h1
  display inline-block
  vertical-align bottom

header .icon
  height 10em
  width 10em
  margin-left auto
  margin-right auto
// ====================

// Generic styling.
// ====================
hr
  clear both
  margin 4em 0em

p
  font-family 'Ubuntu', sans-serif
  font-size 1.5em

img
  margin-right auto
  margin-left auto

footer
  text-align center
  font-size 1em

@media (max-width: 768px)
  footer
    font-size .8em
// ====================

// About styling.
// ====================
.avatar-box
  margin-top 0em !important

.about img
  vertical-align top
  margin-top 0em

.about p
  text-align justify
// ====================

// Welcome text styling.
// ====================
.welcome p
  font-size 2em

@media (max-width: 768px)
  .welcome p
    font-size 1.5em

.welcome
  text-align justify
  margin-top 2em
// ====================

// Email subscription styling.
// ====================
.subscribe form
  margin-top 4em
  margin-bottom 6em
  text-align center

.subscribe input
  vertical-align top
  display inline-block
  text-align center
  font-size 2em
  height 3em
  width 10em

.subscribe input[type='email']
  border none
  outline none
  margin-right 2.3em
// ====================

// Episode styling.
// ====================
.episodes
  text-align center

.episode
  margin-bottom 4em

.episode iframe
  border 6px solid #eee

.episode h3
  font-size 2em

@media (max-width: 768px)
  .episode h3
    font-size 1.5em

.episode p
  text-align justify

@media (max-width: 768px)
  .episode p
    font-size 1.2em

.embed-container
  position relative
  padding-bottom 56.25%
  height 0
  overflow hidden
  max-width 100%
  height auto

.embed-container iframe
.embed-container object
.embed-container embed
  position absolute
  top 0
  left 0
  width 100%
  height 100%
// ====================
